<!DOCTYPE html>
<html lang="en">
<head th:replace="/particles/header :: head">
</head>
<body>
    <div class="container">
        <div th:insert="/particles/navbar :: navbar"></div>
        <h1 class="text-center">Panel administracyjny</h1>
        <div class="row justify-content-md-center">
            <div class="btn-group">
                <a href="/admin/users" class="btn btn-primary">Users</a>
                <a href="/admin/productsPanel" class="btn btn-primary">Products</a>
                <a href="/admin/categoriesPanel" class="btn btn-primary disabled">Categories</a>
                <a href="/admin/ordersPanel" class="btn btn-primary">Orders</a>
            </div>
        </div>
        <div class="row justify-content-md-center mt-2">
        <form action="#" th:action="@{/admin/categoriesPanel/{id}/edit(id=${category.id})}"  th:object="${category}" method="post">
            <div class="form-group row">
                <label for="name">Category name</label>
                <input id="name" class="form-control" type="text" th:value="${category.category}" th:field="${category.category}">
            </div>
            <div class="form-group ">
                <button type="submit" class="btn btn-success">Edit category</button>
                <a href="/admin/categoriesPanel" class="btn btn-danger">Go back</a>
            </div>
        </form>
        </div>

        <div th:replace="/particles/footer :: footer"></div>
    </div>


</body>
</html>