<!DOCTYPE html>
<html lang="en">
<head th:replace="particles/header :: head">
</head>
<body>
<div class="container">
<div th:insert="particles/navbar :: navbar"></div>
    <h1 class="text-center" th:text="${product.producer} +' '+ ${product.model}"></h1>
    <div class="row justify-content-md-center">
        <div class="col sm-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <th:block th:each="img, i: ${images}">
                <div th:if="${i.count}==1" class="carousel-item active">
                    <img class="d-block w-100" th:src="@{/img/products/{id}/{num}.jpg(id=${product.product_id},num=${i.count})}" th:alt="${product.producer} + ${product.model}">
                </div>
                    <div th:if="${i.count}!=1" class="carousel-item">
                        <img class="d-block w-100" th:src="@{/img/products/{id}/{num}.jpg(id=${product.product_id},num=${i.count})}" th:alt="${product.producer} + ${product.model}">
                    </div>
                </th:block>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <p class="text-justify" th:if="${product.amount &gt; 0}">In stock : <th:block th:text="${product.amount}"></th:block></p>
        <p class="text-justify" th:if="${product.amount == 0}">OUT OF STOCK</p>
        <p class="text-justify" th:text="'Price: '+${product.price}+'zł'"></p>
        <form th:if="${product.amount &gt; 0}"  sec:authorize="isAuthenticated()" th:action="@{'/cart/add/'+${product.id}}" method="post">
            <div class="form-group mb-2">
                <input class="form-control" style="width:107.733px;" type="number" th:name="quantity" value="1" th:max="${product.amount}" min="1">
                <button type="submit"  class="btn btn-primary">Add to Cart</button>
            </div>
        </form>
        <a href="/login" sec:authorize="isAnonymous()" class="btn btn-primary">Log in to shop</a>
        </div>
    <div class="col">
        <p class="text-justify" th:text="${product.description}"></p>
    </div>
    </div>
<div th:replace="particles/footer :: footer"></div>
</div>
</body>
</html>