<!DOCTYPE html>
<html lang="en">
<head th:replace="particles/header :: head">
</head>
</head>
<body>
<div class="container">
    <div th:insert="particles/navbar :: navbar"></div>
    <div th:if="${msg} != null" th:text="${success}"
         class="alert alert-success"></div>
    <div class="row mt-4">
    <th:block th:each="product : ${products}">
        <div class="card col-md-3 col-lg-3 col-sm-12">
            <img class="card-img-top" th:src="@{'/img/products/'+${product.id}+'/1.jpg'}" th:alt="${product.producer} +' '+${product.model} "/>
            <div class="card-body mr-2">
                <a th:href="@{/products/{id}(id=${product.id})}"><h5 class="card-title" th:text="${product.producer} +' '+${product.model}"></h5></a>
                <p th:if="${product.amount &gt; 0}" class="card-text">In stock : <th:block th:text="${product.amount}"></th:block></p>
                <p th:if="${product.amount == 0}" class="card-text">OUT OF STOCK</p>
                <p class="card-text " th:text="'Price: '+${product.price}+'zł'"></p>
                <form th:if="${product.amount &gt; 0}"  sec:authorize="isAuthenticated()" th:action="@{'/cart/add/'+${product.id}}" method="post">
                    <div class="form-group mb-2">
                        <input class="form-control" style="width:107.733px;" type="number" th:name="quantity" value="1" th:max="${product.amount}" min="1">
                        <button type="submit"  class="btn btn-primary">Add to Cart</button>
                    </div>
                </form>

                <a href="/login" sec:authorize="isAnonymous()" class="btn btn-primary">Log in to shop</a>

            </div>
        </div>
    </th:block>
    </div>
    <div th:replace="particles/footer :: footer"></div>
</div>
</body>
</html>